/* 페이지 배경 */
.login__page {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8; /* 대시보드 느낌 배경 */
}

/* 로그인 카드 */
.login__box {
  background: #ffffff;
  padding: 32px 28px;
  border-radius: 12px;
  width: 320px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); /* 카드 그림자 */
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* 타이틀
.login__box h2 {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 700;
  color: #1f2937;
} */

/* 인풋 */
.login__box input {
  width: 90%;
  padding: 12px 14px;
  font-size: 14px;

  border-radius: 8px;
  border: 1px solid #d1d5db; /* 연한 회색 */
  background: #ffffff;
  color: #111827;

  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.login__box input::placeholder {
  color: #9ca3af;
}

.login__box input:hover {
  border-color: #9ca3af;
}

.login__box input:focus {
  outline: none;
  border-color: #4fc3f7;
  box-shadow: 0 0 0 3px rgba(79, 195, 247, 0.25);
}

/* 버튼 */
.login__box button {
  margin-top: 6px;
  padding: 12px;
  border-radius: 8px;

  border: none;
  background: #3b82f6;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
}

.login__box button:hover {
  background: #29b6f6;
}

.login__box button:active {
  transform: translateY(1px);
}

.login__logo{
  margin-top: 10px;
  margin-left: 10px;
  max-width: 295.5px;
  min-width: 295.5px;
}

.login__form{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.login__box input{
  width: 100%;
  box-sizing: border-box;
}

.login__box button{
  width: 100%;
  box-sizing: border-box;
}