:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #111827;
  background: #f6f7fb;
}

html, body, #root { height: 100%; }
body{
  margin:0;
  background:#e9edf3;           /* 레퍼런스 회색 */
}

/* 링크/버튼 */
a { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }
button { font-family: inherit; }
